<div class="card mb-5 full-size">

    <div class="card-header">

        {{ new.date_pub }}
    </div>

    <div class="card-body">

        <h5 class="card-title news-title">{{ new.title }}</h5>
        <p class="card-text">{{ new.text|truncatewords:30 }}</p>
        <a href="{{ new.get_absolute_url }}" class="btn btn-dark">Read</a>

    </div>

    <div class="card-footer text-muted">

        Tags:
        {% for tag in news.tags.all %}
            <a class='color-turqiouse ' href='{{ tag.get_absolute_url }}'>{{tag.title }}</a>
        {% endfor %}

    </div>
    
</div>