<!-- <div class="card text-center mb-5">
    <div class="card-header">
        {{ new.title }}
    </div>
    <div class="card-body">
        <h5 class="card-title"></h5>
        <p class="card-text"> {{ new.text|truncatechars:30 }}</p>
        <a href="{{ new.get_absolute_url }}" class="btn btn-dark">Read</a>
    </div>
    <div class="card-footer text-muted">
        {{ new.date_pub }}
    </div>
</div> -->

<div class="card mb-5">
    <div class="card-body">
        <h5 class="card-title">{{ new.title}}</h5>
        <h6 class="card-subtitle mb-2 text-muted">{{ new.date_pub }}</h6>
        <p class="card-text"> {{ new.text|truncatechars:30 }}</p>
       <a href="{{ new.get_absolute_url }}" class="btn btn-dark">
           Read
       </a>
  </div>
</div>