{% extends 'blogsite/base_blogsite.html' %}

{% block title %}

    Accounts management - {{ block.super }}

{% endblock %}

{% block important %}

<div class='middle-placed'>

    <h1>Account management</h1>

</div>

{% endblock %}

{% block content %}

<div class='lower-than-head'>

    <p>
        <a class='btn btn-dark' href='/account/admin/'>Admin</a>
    </p>
    <p>
        <a class='btn btn-dark' href='{% url "register_url" %}'>Register</a>
    </p>
    <p>
        <a class='btn btn-dark' href='/account/login'>Login in</a>
    </p>
    
</div>

{% endblock %}


 
