{% extends 'blogsite/base_blogsite.html' %}

{% block title %}

    Accounts management - {{ block.super }}

{% endblock %}

{% block important %}

<div class='middle-placed'>

    <h1>Account management</h1>

</div>

{% endblock %}

{% block content %}

    <div class='col-4 lower-than-head'>

        <div class='border-limited-block'>

            <a class='btn btn-dark' href='/account/admin/'>Admin</a>

        </div>

            <a class='btn btn-dark' href='{% url "register_url" %}'>Register</a>
    
            <a class='btn btn-dark' href='/account/login'>Log in</a>

            <a class='btn btn-dark' href='/account/logout'>Logout</a>
        
    </div>

{% endblock %}


 
