{% extends 'blog/base_blog.html' %}
{% load static %}

{% block title %}

    Welcome to {{ block.super }}

{% endblock %}

{% block homepage %}

 <h1>Welcome to OuSite</h1>

{% endblock %}

{% block content %}

<div class='{% if is_homepage %} lower-than-head {% endif %}'>

	<h2>Hello</h2>

	<div>

		<p>
		This project was created in September 11 2019.<a href='https://github.com/CruzedV/Blogsite'> Here you can find the GitHub repository</a>
		</p>

		<p>
			This is my solo project created using Django, PostgreSQL. Also you can join my team. Contact me here:
		</p>

		<p>
			<img src='{% static "images/vk_icon.png" %}'><a class='image-url' href='https://vk.com/cruzedv'>VK</a>
		</p>

		<p>
			<img src='{% static "images/github_icon.png" %}'><a class='image-url' href='https://github.com/CruzedV'>GitHub</a>
		</p>

		<p>
			<img src='{% static "images/gmail_icon.png" %}'><a class='image-url' href='https://accounts.google.com/'>Gmail</a>
		</p>

	</div>

</div>

{% endblock %}