{% load static %}
<DOCTYPE html>
	<html lang='en' class='custom-font'>
	<head>
		<meta charset='UTF-8'>
		<meta name='viewport', initial='scale=1'>
		<meta http-equiv='X-UA=Compatible' content='ie=edge'>
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel='stylesheet' type='text/css' href='{% static "css/styles.css" %}'>
		<title>
            {% block title %}OuSite{% endblock %}
        </title>
    </head>
    <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
            <a class="navbar-brand" href="{% url 'homepage_url' %}">OuSite</a>
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'posts_list_url' %}">Posts</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'tags_list_url' %}">Tags</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'users_list_url' %}">Users</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'accounts_page_url' %}">Accounts</a>
                </li>
                <li>
                    <div class="btn-group lower-than-other">
                        <button type="button" class="btn btn-dark dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Settings
                        </button>
                        <div class="dropdown-menu">

                            <div id='unite-container'>
                                <form href='url "test_page_url" '>
                                    <div class="toggle-btn" id="_1st-toggle-btn">   
                                        <form>
                                            <input type="checkbox" onclick="dark_theme()"> 
                                            <span></span>
                                        </form>
                                    </div>
                                </form>
                                <div>
                                    <a id='app-name'>Color Theme</a>
                                </div>
                            </div>

                            <div>
                                <hr class='splitter'>                
                            </div>

                        </div>
                    </div>
                </li>
            </ul>
            <ul class="navbar-nav">
                <a class='nav-link' href='#'>
                    {{ user.username }}
                </a>
            </ul>
            <form class="form-inline my-2 my-lg-0" action="{% url 'search_page_url' %}">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name="search">
                <button class="btn btn-outline-info my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
    </nav>
    <div class='container mt-5'>
        <div class='row'>
            <div class='col-6'>

                {% block content %}

                    There no any content for you

                {% endblock %}
                {% if is_paginated %}
                    <nav aria-label="...">
                        <ul class="pagination">
                            <li class="page-item {% if not prev_url %} disabled {% endif %}">
                                <a class="page-link btn btn-dark" href="{{ prev_url }}" tabindex="-1">Prev</a>
                            </li>

                            {% for n in page_object.paginator.page_range %}

                                {% if page_object.number == n %}
                                    <li class="page-item active selected">
                                        <a class="btn btn-dark" href="?page={{ n }}">{{ n }}</a>
                                    </li>
                                {% elif n > page_object.number|add:-3 and n < page_object.number|add:3 %}
                                    <li class="page-item">
                                        <a class="btn btn-dark" href="?page={{ n }}">{{ n }}</a>
                                    </li>
                                {% endif %}

                            {% endfor %}

                             <li class="page-item {% if not next_url %} disabled {% endif %} ">
                                <a class="page-link btn btn-dark" href="{{ next_url }}" tabindex="-1">Next</a>
                            </li>
                        </ul>
                    </nav>
                {% endif %}
            </div>
        </div>
    </div>

    {% if request.user.is_authenticated and request.user.is_staff%}

        <div class='admin-panel align-items-center'>
            <a href='/account/admin' class='btn btn-outline-info'>Admin</a>
            {% block admin-panel %}
            {% endblock %}
        </div>
        
    {% endif %}


	</body>

    </html>
