<div class="card mb-5 full-size">

    <div class="card-header">

        {{ new.date_pub }}

        {% if request.user.is_authenticated and request.user.is_staff %}

            <div class='dropdown btn-group dropright btn-small'>

                <button class="btn btn-dark dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                ...
                </button>

                <div class="dropdown-menu dmdark" aria-labelledby="dropdownMenuButton">

                    <a class='btn btn-dark' href='{{ new.get_update_url}}'>Edit</a>
                    <a class='btn btn-dark' href='{{ new.get_delete_url}}'>Delete</a>

                </div>

            </div>

        {% endif %}

    </div>

    <div class="card-body">

        <h5 class="card-title card-c-title">{{ new.title }}</h5>
        <p class="card-text">{{ new.text|truncatewords:30 }}</p>

        <div class='card-acc'>

            <a href="{{ new.get_absolute_url }}" class="btn btn-dark news-btn">Read</a>

        </div>
        
    </div>

    <div class="card-footer text-muted">

        Tags:
        {% for tag in news.tags.all %}
            <a class='color-turqiouse ' href='{{ tag.get_absolute_url }}'>{{ tag.title }}</a>
        {% endfor %}

    </div>
    
</div>