 /*Styles for Ousite */
 /*I used Bootstrap(https://getbootstrap.com/docs/4.4/about/license/) for my site.*/

body {
    margin: 0px;
    background-color: #f8f8f8;
}

body.background-c {
    background: #8B8E93;
}

a {
    color: #17A2B8;
    transition: 0.2s ease-in-out;
}

a:hover{
    color: #343A40;   
}

a.edit, a.delete {
    display: none;
}

a.image-url {
    font-size: 20;
    padding-left: 10px;
}

a.navbar-brand {
    font-size: 25px;
    padding-bottom: 10px;
    margin: 0px 20px 0px 10px;
}

a.page-link:hover {
    color: #17A2B8;
    transition: 0.2s ease-in-out;
    background-color: #23272B;
}

div.dropdown-menu {
    border: 1px solid #999;
    padding: 5px;
}

div.dmdark {
    background: #343A40;
    text-align: center;
}

div.form-control-parental > input {
    display: block;
    width: 100%;
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

h1 {
    text-align: center;
    padding-bottom: 20px;
    margin: 5px;
    border-bottom: 1px solid #17A2B8;
} 

hr.splitter {
    opacity: 0.9;
    background: #17A2B8;
    box-shadow: 0px 0px 5px #17A2B8;
}

input#image-clear_id {
    width: 10px;
    height: 10px;
    position: relative;
    opacity: 1;
}

li.nav-item {
    font-size: 18px;
    padding-bottom: 4px;
}

li.selected > a.btn {
    color: #17A2B8;
}

li.page-item.disabled > a.page-link{
    background-color: #343A40;
}

#app-name {
    color: #fff;
    text-align: center;
    margin-left: 28px;
}

.admin-panel {
    background: #343A40;
    border: 1px solid #999;
    border-radius: 5px;
    position: fixed;
    right: 100px;
    bottom: 20px;
    padding: 15px;
    margin: 10px;
    display: block;
}

.black-back {
    background-color: #000;
}

.border-limited-body {
    padding: 10px;
    border: 1px solid #17A2B8;
    border-radius: 10px;
}

.border-limited-block {
    border: 1px solid #17A2B8;

}

.body-container {
    word-wrap: break-word;
}

.btn-small {
    display: block;
    float: right;
}

.btn-dark {
    border: 1px solid #999;
    display: block;
}

.btn-dark:hover{
    color: #17A2B8;
    transition: 0.2s ease-in-out;
}


.card {
    margin-bottom: 10rem;
}


.card-acc {
    text-align: center
}

.full-size {
    min-width: 40%;
}

 .full-size-canvas {
    width: 100%;
 }

 .img-container {
    padding: 10px;
    border: 1px solid rgba(0,0,0,.125);
 }

.left-column {
    width: 500px;
    margin-right: 100px;
    float: left;
}

.lower-than-head {
    padding-top: 120px;
}

.lower-than-other {
    padding-top: 5px;
}

.middle-placed {
    width: 100%;
    height: 100%;
    padding-top: 20px;
    position: absolute;
}

.news-btn {
    display: inline;
}


.card-c-title {
    font-size: 25px;
    text-align: center;
}

.page-link {
    color: white;
    background-color: #343A40;
}

.pagination {
    padding-bottom: 20px;
}

.preview {
    max-height: 120px;
    max-width: 150px;
    float: right;
}

.post-data {
    text-align: left;
    display: inline-block;
}

.post-image {
    max-width: 1000px;
    display: block;
    margin: 0 auto;
}

.right-column {
    float: left;
}

/*
Custom css for bttns
*/

/* bttn frame width and height */
.toggle-btn {
    position: relative;
    width: 100px;
    height: 30px;
    margin: 0 auto;
    border-radius: 20px;
}

input[type="checkbox"] {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    margin: 0px;
    cursor: pointer;
    opacity: 0;
    z-index: 2;
}

#_1st-toggle-btn span {  
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    overflow: hidden;
    opacity: 1;
    background-color: #fff;
    /*box-shadow: 0px 2px 12px #d9d9d9;*/
    border-radius: 20px;
    transition: 0.2s ease background-color, 0.2s ease opacity;
}

#_1st-toggle-btn span:before, #_1st-toggle-btn span:after {
    content: '';
    position: absolute;
    top: 8px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    transition: 0.5s ease transform, 0.2s ease background-color;
}

/* day mode color*/
#_1st-toggle-btn span:before {
    background-color: #fff;
    transform: translate(-15px, 0px);
    z-index: 1;
}
/* day mode icon */
#_1st-toggle-btn span:after {
    background-color: #343A40;
    transform: translate(4px, 0px);
    z-index: 0;
}

/* switch animation */
#_1st-toggle-btn input[type="checkbox"]:checked+span {
    background-color: #343A40;
    box-shadow: 0px 0px 5px #19B9D2;
}

/*black mode icon*/
#_1st-toggle-btn input[type="checkbox"]:checked+span:before {
    background-color: #343A40;
    transform: translate(74px, -5px);
}

/*black mode color*/
#_1st-toggle-btn input[type="checkbox"]:checked+span:after {
    background-color: #fff;
    transform: translate(80px, 0px);
}

/*

                Main colors:

#17A2B8-Бирюзовый
#4B3227-Коричневый
#9D928C-Светло-коричневый
#F2DCB6-Кожный
#3F3F3F-Цвет Ютуба
#363F49-Сизый
#8B8E93-Светло-сизый
#343A40-Сизый серее
#23272B-Сизый темнее


