/* Styles for Ousite */

.black-back {
    background-color: #000
}

li.page-item.disabled > a.page-link{
    background-color: #343A40
}

hr.splitter {
    opacity: 0.9;
    background: #17A2B8;
    box-shadow: 0px 0px 5px #17A2B8;
}

.color-turqiouse {
    color: #17A2B8;
    transition: 0.2s ease-in-out;
}

.unite-container {}

#app-name {
    color: #fff;
    text-align: center;
    margin-left: 28px;
}

a:hover{
    color: #343A40;   
}

.page-link {
    color: white;
    background-color: #343A40;
}

li.selected > a.btn {
    color: #17A2B8;
}

a.page-link:hover {
    color: #17A2B8;
    transition: 0.2s ease-in-out;
    background-color: #23272B;
}

.admin-panel {
    background: #343A40;
    border: 1px solid #999;
    border-radius: 5px;
    position: fixed;
    right: 100px;
    bottom: 20px;
    padding: 15px;
    margin: 10px;
}

.admin-panel {
    display: block;
}

.btn-dark {
    border: 1px solid #999;

}

.btn-dark:hover{
    color: #17A2B8;
    transition: 0.2s ease-in-out;
}

a.edit, a.delete {
    display: none;
}

div.dropdown-menu {
    background: #343A40;
    border: 1px solid #999;
    padding: 5px;
}

.pagination {
    padding-bottom: 20px;
}

body.background-c {
    background: #8B8E93;
}

li.nav-item {
    font-size: 18px;
    padding-bottom: 4px;
}

a.navbar-brand {
    font-size: 25px;
    padding-bottom: 10px;
    margin: 0px 20px 0px 10px;
}

.lower-than-other {
    padding-top: 5px;
}


/*
Custom css for bttns
*/


body {
    margin: 0px;
    background-color: #f8f8f8;
}
/* bttn frame width and height */
.toggle-btn {
    position: relative;
    width: 100px;
    height: 30px;
    margin: 0 auto;
    border-radius: 20px;
}

input[type="checkbox"] {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    margin: 0px;
    cursor: pointer;
    opacity: 0;
    z-index: 2;
}

#_1st-toggle-btn span {  
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    overflow: hidden;
    opacity: 1;
    background-color: #fff;
    /*box-shadow: 0px 2px 12px #d9d9d9;*/
    border-radius: 20px;
    transition: 0.2s ease background-color, 0.2s ease opacity;
}

#_1st-toggle-btn span:before, #_1st-toggle-btn span:after {
    content: '';
    position: absolute;
    top: 8px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    transition: 0.5s ease transform, 0.2s ease background-color;
}

/* day mode color*/
#_1st-toggle-btn span:before {
    background-color: #fff;
    transform: translate(-15px, 0px);
    z-index: 1;
}
/* day mode icon */
#_1st-toggle-btn span:after {
    background-color: #343A40;
    transform: translate(4px, 0px);
    z-index: 0;
}

/* switch animation */
#_1st-toggle-btn input[type="checkbox"]:checked+span {
    background-color: #343A40;
    box-shadow: 0px 0px 5px #17A2B8;
}

/*black mode icon*/
#_1st-toggle-btn input[type="checkbox"]:checked+span:before {
    background-color: #343A40;
    transform: translate(74px, -5px);
}

/*black mode color*/
#_1st-toggle-btn input[type="checkbox"]:checked+span:after {
    background-color: #fff;
    transform: translate(80px, 0px);
}

h1 {
    text-align: center;
    padding-bottom: 20px;
    margin: 5px 0px;
    border-bottom: 1px solid #fff
}

/*section {
    width: 50px;
    margin: 100px auto;
    padding: 60px;
    background-color: #fff;
    box-shadow: 0px 5px 35px #d7d7d7;
    border-radius: 35px;
}
*/
/*
#_1st-toggle-btn input[type="checkbox"]:active+span {
    opacity: 0.5;
}
#17A2B8-Бирюзовый
#4B3227-Коричневый
#9D928C-Светло-коричневый
#F2DCB6-Кожный
#3F3F3F-Цвет Ютуба
#363F49-Сизый
#8B8E93-Светло-сизый
#343A40-Сизый серее
#23272B-Сизый темнее
*/