{% extends 'blog_homepage/base_blog_homepage.html' %}

{% block title %}

    Accounts management - {{ block.super }}

{% endblock %}

{% block important %}

<div class='middle-placed'>

    <h1>Account management</h1>

</div>

{% endblock %}

{% block content %}

<div class='col-4 left-column' style='margin-left: 100px;'>

    <div class='lower-than-head'>

        <div class="card card-acc" style="width: 18rem;">

            <div class="card-body">

                <h5 class="card-title">Register page</h5>

                <p class="card-text">This page is for registration on our site</p>

                <a class='btn btn-dark' href='{% url "register_url" %}'>Register</a>

            </div>

        </div>

        <div class="card card-acc" style="width: 18rem;">

            <div class="card-body">
                
                <h5 class='card-title'>Log in page</h5>

                <p class="card-text">This page is for logging in on our site</p>

               <a class='btn btn-dark' href='/general/account/login'>Log in</a>

            </div>

        </div>

    </div>

</div>

<div class='col-4 right-column' style='margin-left: 100px;'>

    <div class='lower-than-head'>

        {% if request.user.is_authenticated and request.user.is_staff%}

        <div class="card card-acc" style="width: 18rem;">

            <div class="card-body">

                <h5 class="card-title">Admin page</h5>

                <p class="card-text">This page is only available for admins</p>

                <a class='btn btn-dark' href='/account/admin/'>Admin</a>

            </div>

        </div>

        {% endif %}

        {% if request.user.is_authenticated %}

        <div class="card card-acc" style="width: 18rem;">

            <div class="card-body">

                <h5 class="card-title">Logout page</h5>

                <p class="card-text">This page if for logout from our site</p>

                <a class='btn btn-dark' href='{% url "logout_url" %}'>Logout</a>

            </div>

        </div>

        {% endif %}

    </div>

</div>
        
{% endblock %}


 
